flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-mail==0.10.0
flask-wtf==1.2.1
flask-limiter==3.8.0
Flask-Migrate==4.0.7
gunicorn==22.0.0
psycopg[binary]
requests==2.32.3
werkzeug==3.0.3
python-dotenv==1.0.1
flask-admin==1.6.1
WTForms==3.1.2
Pillow==10.4.0
itsdangerous==2.2.0
